@import "@yaireo/tagify/dist/tagify.css"; 
.tagify {
    overflow: hidden;
    --tag-bg: #6C0E42;
    --tag-text-color: white;
    --tag-text-color--edit: var(--tag-bg);
    --tag-hover: rgb(162,8,56);
    --tag-remove-btn-color: white;
    border: 0px;
}
.tagify tag{
    padding-top: .6rem;
    height: 2rem;
}
.tagify span::after{
    color: white;
    margin-top: 1rem;
    font-size: 1.2rem!important;
}
.tagify tag x{
    font-size: 1.2rem;
    padding-bottom: .4rem;
}
.tagify__tag-text{
    font-size: 1.2rem;
    display:inline!important;
}
.tagify__input{
    height: 2rem;
}
.tagify__input::before{
    height: 2rem;
}

.tagify__input:empty::before {
    padding-top: .5rem;
    color:#fff;
    font-weight: 100;
    font-size: 1.2rem;
}
.searchBar{
    margin: 20px auto;
    max-width: 600px;
    width: 94%;
    display: grid;
    grid-template-columns: 50px auto;
    height: 3rem;
    border: 1px white solid;
}

.iconCont{
    height: 3rem;
}

.iconCont img{
    display: block;
    margin: .5rem auto;
    width: 50%;
    height: 60%;

}

.carContainer{
    display: grid;
    grid-template-columns: auto;
}

@media screen and (min-width: 700px ) {
    .carContainer{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 80%;
        margin: auto;
    }
}

