.tagify {
    --tag-bg: #6C0E42;
    --tag-text-color: white;
    --tag-text-color--edit: var(--tag-bg);
    --tag-hover: rgb(162,8,56);
    --tag-remove-btn-color: white;
    border: 0px;
}
.tagify__input:empty::before {
    color:#fff;
    font-weight: 100;
}
.searchBar{
    margin: 20px auto;
    max-width: 600px;
    width: 94%;
    display: grid;
    grid-template-columns: 50px auto;
    height: 37.594px;
    border: 1px white solid;
}

.iconCont{
    height: 37.594px;
}

.iconCont img{
    display: block;
    margin: 10% auto;
    top: 45%;
    width: 50%;
    height: 60%;

}

.carContainer{
    display: grid;
    grid-template-columns: auto;
}

@media screen and (min-width: 700px ) {
    .carContainer{
        display: grid;
        grid-template-columns: 50% 50%;
        width: 80%;
        margin: auto;
    }
}

