@import "@yaireo/tagify/dist/tagify.css"; 

html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
} 

header{
  color: #fff;
  font-size: 33px;
  text-shadow: 0 0 8px hsl(0deg 0% 100% / 33%);
  box-shadow: -1px 0 20px -8px 	#696969;
  text-align: right;
  padding: 1rem !important;
  margin: 0px;
  font-weight: 700;
}

.App {
  background-color: #000;
  color: #bababa;
  min-height: 100vh;
}


.preload-wrapper.finish {
  opacity: 0;
  transition: opacity .5s ease-out;
}

.preload-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

