@font-face{
  font-family: gothamBlack;
  src: url(./fonts/Gotham-Black.otf)
}
@font-face{
  font-family: gothamMedium;
  src: url(./fonts/GothamMedium.ttf)
}

html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
} 

.App {
  background-color: #000;
  color: #bababa;
  font-family: gothamMedium;
  min-height: 100vh;
}

.AppHeader{
  display: grid;
  grid-template-columns: 50% 50%;
  height: 70px;
  box-shadow: -1px 0 20px -8px 	#696969;
}

.menu-cont{
  margin-left: 1rem;
}
.Appl-logo {
  height: 100%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: end;
}
.Appl-logo p{
  color: #fff;
  margin: 0;
  margin-right: 1rem!important;
  padding-top: 1rem;
  font-size: 2rem;
  text-shadow: 0 0 8px hsl(0deg 0% 100% / 33%);
  
}

.preload-wrapper.finish {
  opacity: 0;
  transition: opacity .5s ease-out;
}

.preload-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}


